.bg-black  {
    background-color: #262626;
}

.bg-btn-yellow {
    background-color: #FCD34D;
}

.bg-btn-header-yellow {
    background-color: #FDE68A;
}

.bg-btn-dropdown-client, .bg-grey-darker {
    background-color: #D1D5DB;
}

.bg-table, .bg-grey {
    background-color: #E5E7EB;
}

.color-header-table, .color-text-grey {
    color: #5C5C5C;
}

.bg-form {
    background-color: #e5e7eb;
}

.bg-green-56CA11 {
    background-color: rgba(86, 202, 17, .5);
}

.bg-red-E32626 {
    background-color: rgba(227, 38, 38, .5);
}

.logo {
    width: 250px;
    margin: 0 auto;
}


.text-yellow-custom-login {
    color: #FDE68A;   
}

.container-login {
    width: 350px;
    margin: 0 20px;
}
.logo_header{
    width: 150px;
}

.active {
    background-color: #FBBE44;
}

input:focus {
    outline: 2px solid #FBBE44;
}

.table {
    border-collapse: separate;
    border-spacing: 30px;
}

.bg-FCD34D {
    background-color: #FCD34D;
}

.flex-basis-33 {
    flex-basis: 33%;
}

.flex-basis-50 {
    flex-basis: 50%;
}

.flex-basis-45 {
    flex-basis: 45%;
}

.text-5C5C5C {
    color: #5C5C5C;
}
.dropdown {
    position: relative
}

.border-input{
    border: 2px solid #E5E7EB;
}

.border-error {
    border: 1px solid rgb(220, 38, 38) !important
}


.bg-alert-sucess {
    background-color: #2FB13F;
}

.bg-alert-error {
    background-color: #FF0B0B;
}

.top-5\\5 {
    top: 5.5rem;
}

.label-after {
    position: relative;
    border-bottom: 4px solid #C4C4C4;
    padding: 6px 0;
    letter-spacing: 1px;
}

.menu-main{
    width: 150px;
}

.save-text{
    color: #6B7280;
}